<div class="flex justify-center w-full">
    <div class="flex flex-col items-center gap-4 mt-16">
        <h2 class="text-xl mb-3">
            DVDs removed successfully!
        </h2>
        <a asp-action="AllDvds" asp-controller="DVD" class="btn btn-primary">Back to all Dvds</a>
    </div>
</div>
