<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.14.3/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/Homepage.css" asp-append-version="true" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <title>@ViewData["Title"] - OurApp </title>
</head>
<body class="bg-base-100">
    <header class="px-20">
        <nav class="navbar bg-base-100">
            <div class="navbar-start">
                <a class="btn btn-ghost normal-case text-xl">Ropey</a>
            </div>
            <div class="navbar-center hidden lg:flex">
                <ul class="menu menu-horizontal p-0">
                    <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li><a asp-action="AllMembers" asp-controller="Membership">Membership</a></li>
                    <li><a asp-action="Index" asp-controller="Loan">Loan</a></li>
                    <li><a asp-action="AllDvds" asp-controller="DVD">DVDs</a></li>
                </ul>
            </div>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <div class="navbar-end flex gap-4 items-center">
                    <a asp-action="AdminPanel" asp-controller="Account" class="text-md text-gray-400">Admin Panel</a>
                    <a asp-action="Logout" asp-controller="Account" class="btn border-0">Logout</a>
                </div>

            }
            @if (User.Identity.IsAuthenticated && User.IsInRole("Manager"))
            {
                <div class="navbar-end flex gap-4 items-center">
                    <a asp-action="ChangePassword" asp-controller="Account" class="text-md text-gray-400">Change password</a>
                    <a asp-action="Logout" asp-controller="Account" class="btn border-0">Logout</a>
                </div>

            }
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="navbar-end">
                    <a asp-action="Login" asp-controller="Account" class="btn border-0">Login</a>
                </div>
            }
        </nav>
    </header>
<main class="flex justify-center h-[45rem]">
    @RenderBody()
</main>
<script>
    const form = document.getElementById("loanedDateFilter");
    const picker = document.getElementById("loanedDatePicker");
    picker.addEventListener("blur", () => form.submit());
</script>
</body>
</html>