@model DvdCategory;
<div class="flex justify-center w-full">
    <form action="/addStudio" method="post" class="flex flex-col items-center gap-5 mt-16">
        <h2 class="text-xl mb-3">Add a new Category</h2>
        <div class="form-control">
            <label asp-for="CategoryDescription" class="text-sm mb-1">Category description</label>
            <input id="CategoryDescription" asp-for="CategoryDescription" type="text" class="input input-bordered w-[30rem]">
        </div>
        <div class="form-control">
            <label asp-for="AgeRestricted" class="text-sm mb-1">Age restricted</label>
            <select id="AgeRestricted" asp-for="AgeRestricted" type="text" placeholder="Age restricted" class="select input-bordered w-[30rem]">
                <option>Yes</option>
                <option selected>No</option>
            </select>
        </div>
        <div class="form-control">
            <input type="submit" class="btn bg-black w-[30rem]" value="Add Category"/>
        </div>
    </form>
</div>