<div class="flex justify-start w-full h-full px-20 mt-16">
    <form>
        <div class="form-control">
            <label for="studio">Studio</label>
            <select id="studio" class="select w-full max-w-xs">
                <option disabled selected>Select a studio</option>
                <option>Homer</option>
                <option>Marge</option>
                <option>Bart</option>
                <option>Lisa</option>
                <option>Maggie</option>
            </select>
        </div>
        <div class="form-control">
            <label for="studio">Producer</label>
            <select id="studio" class="select w-full max-w-xs">
                <option disabled selected>Select a producer</option>
                <option>Homer</option>
                <option>Marge</option>
                <option>Bart</option>
                <option>Lisa</option>
                <option>Maggie</option>
            </select>
        </div>
        <div class="form-control">
            <label for="studio">Cast member</label>
            <select id="studio" class="select w-full max-w-xs">
                <option disabled selected>Select a producer</option>
                <option>Homer</option>
                <option>Marge</option>
                <option>Bart</option>
                <option>Lisa</option>
                <option>Maggie</option>
            </select>
        </div>
    </form>
</div>