@model AppDev2ndCW_2022.ViewModel.DvdViewModel
<div class="flex justify-center w-full h-full mt-10">
    <form action="/DVD/AddDvd" method="post" class="flex flex-col items-center gap-2 w-full">
        <h2 class="text-xl mb-4">Add new DVD</h2>
        <div class="form-control">
            <label asp-for="StudioNum" class="text-sm mb-1" for="studio">Studio</label>
            <select asp-for="StudioNum" id="studio" class="select bg-base-200 input-bordered w-[35rem]">
                <option disabled selected value="null">Select a studio</option>
                @if (ViewBag.studios is not null)
                {
                    @foreach (var studio in ViewBag.studios)
                    {
                        <option value="@studio.StudioNumber">@studio.StudioName</option>
                    }
                }
            </select>
            <a asp-action="AddStudio" asp-controller="DVD" class="self-end hover:cursor-pointer"><label class="label-text-alt font-semibold text-blue-400">Add new Studio</label></a>
        </div>
        <div class="flex flex-col gap-7">
            <div class="form-control">
                <label asp-for="DatePosted" class="text-sm mb-1" for="studio">First Name</label>
                <input asp-for="DatePosted" type="date" class="input bg-base-200 input-bordered w-[35rem]"/>
            </div>
            <div class="form-control">
                <label asp-for="StandardCharge" class="text-sm mb-1" for="studio">Last Name</label>
                <input asp-for="StandardCharge" type="number" class="input bg-base-200 input-bordered w-[35rem]"/>
            </div>
            <div class="form-control">
                <label asp-for="PenaltyCharge" class="text-sm mb-1" for="studio">Address</label>
                <input asp-for="PenaltyCharge" type="number" class="input bg-base-200 input-bordered w-[35rem]"/>
            </div>
            <div class="form-control">
                <label asp-for="PenaltyCharge" class="text-sm mb-1" for="studio">Date of Birth</label>
                <input asp-for="PenaltyCharge" type="number" class="input bg-base-200 input-bordered w-[35rem]"/>
            </div>
            <div class="form-control mb-10">
                <input type="submit" class="bg-black btn w-[35rem]" value="Add DVD"/>
            </div>
        </div>
    </form>
</div>