<div class="flex justify-center w-full">
    <form action="/Account/ChangePassword" method="post" class="flex flex-col items-center gap-4 mt-16">
        <h2 class="text-xl mb-3">Change password</h2>
        <div class="form-control">
            <label for="password" class="text-sm">New password</label>
            <input id="password" name="password" type="password" placeholder="New password" class="input input-bordered w-[30rem]">
            <span class="text-red-400 text-sm"></span>
        </div>
        <div class="form-control">
            <input type="submit" class="btn bg-black w-[30rem]" value="Change password"/>
        </div>
    </form>
</div>