@model User
<div class="flex justify-center w-full">
    <form action="/Register" method="post" class="flex flex-col items-center gap-4 mt-16">
        <h2 class="text-xl mb-3">Add a new user</h2>
        <div class="form-control">
            <label class="text-sm">First name</label>
            <input id="firstName" type="text" placeholder="First name" class="input input-bordered w-[30rem]">
        </div>
        <div class="form-control">
            <label class="text-sm">Last name</label>
            <input id="lastName" type="text" placeholder="Last name" class="input input-bordered w-[30rem]">
        </div>
        <div class="form-control">
            <input type="submit" class="btn bg-black w-[30rem]"/>
        </div>
    </form>
</div>