<div class="flex justify-center w-full">
    <div class="flex flex-col items-center gap-4 mt-32">
        <h2 class="text-xl mb-2">
            Loan successful!
        </h2>
        <h4 class="mb-3">Your total cost is: $@ViewBag.charge</h4>
        <a asp-action="AddLoan" asp-controller="Loan" class="btn btn-primary">Back to loans</a>
    </div>
</div>