<div class="flex justify-center w-full h-full mt-10">
    <div class="flex flex-col items-center gap-6 w-full">
        <h2 class="text-md">Your total penalty is</h2>
        <h2 class="text-2xl">$@ViewBag.totalPenalty</h2>
        <a asp-action="Index" asp-controller="Loan" class="btn btn-active">Back to loans</a>
    </div>
</div>